.footer
{
    height: 300px;
    width: 100%;
    background-color: aqua;
}
.copyright
{
    height: 30px;
    width: 100%;
    background-color: #38ABE7;
    padding: 4px;
    color: white;
    /* font-family: "Montserrat"; */
    text-align: center;
}

.footer .parent
{
    width: 70%;
    height: 100%;
    background-color: white;
    background-image: url(../images/footer.png);
    background-size: cover;
    float: left;
}
.parent img
{
    padding: 30px 400px;
}
.parent ul
{
    
    margin-top: -40px;
    margin-left: 205px;
    display: flex;
    gap: 12px;
}
.parent li
{
    display: inline-block;
    font-size: 16px;
    color: white;  

}
.footer .child
{
    width: 30%;
    height: 100%;
    background-color: black;
    background-image: url(../images/footer\ -\ Copy.png);
    background-size: cover;
    float: right;
}
.footer .child h4
{
    color: white;
    margin-top:50px ;
    margin-left: 53px;
}
.child ul li
{
    list-style-type: none;
    color: white;
    margin-left: 9px;
    font-size: 13px;
    margin-top: 8px;

}